@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Images/Interview-guide-featured.jpg" />
</div>
<div style="border: solid 1px; height: 130px">
    <div style="margin-top: 10px">
        <span style="font-weight: bold; font-size: 20px; margin-left: 20px; font-family:Cambria">
            Interview Reviews
        </span>
    </div>
    <div style="font-weight: bold; font-size: 15px; padding-top: 20px; font-family: Cambria ">
        <ul>
            <li>
                When it comes to the interview process, research and preparation for the interview can often times determine your chances of making it to the next step.
            </li>
            <li>
                Read interview questions ahead of time so you can prep with confidence. Did you recently interview? Share what it was like.
            </li>
        </ul>
    </div>
</div>
